<turbo-frame id="modal-content">
    <form
        action="<%= url %>"
        method="post"
        enctype="multipart/form-data"
        data-action="turbo:submit-end->page#onFormSubmitEnd"
    >
        
        <div class="modal-header">
            <div class="modal-title h5"><%= title %></div>
            <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
        </div>
    
        <div class="modal-body">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input
                    id="name"    
                    class="form-control"
                    type="text"
                    name="name"
                    value="<%= locals.song?.name %>"
                    required
                >
            </div>
            <div class="mb-3">
                <label class="form-label" for="artist">Artist</label>
                <input
                    id="artist"
                    class="form-control"
                    type="text"
                    name="artist"
                    value="<%= locals.song?.artist %>"
                    required
                >
            </div>
            <div class="mb-3">
                <label class="form-label" for="file">File</label>
                <input
                    id="file"
                    class="form-control"
                    type="file"
                    name="file"
                    accept="audio/*"
                >
            </div>
            <hr>
            <div data-controller="collection">
                <span>Playlists</span>
                <input
                    class="form-control form-control-sm d-inline w-50 ms-3"
                    type="text"
                    placeholder="filter..."
                    data-action="input->collection#filter"
                >
                <ul class="overflow-auto my-2 px-1" style="max-height: 10vh;">
                    <% for (const playlist of playlists) { %>
                        <li class="form-check" data-collection-target="item">
                            <input
                                id="<%= `playlist-${playlist.id}` %>"
                                class="form-check-input"
                                type="checkbox"
                                name="playlist-id"
                                value="<%= playlist.id %>"
                                <% if (locals.song?.playlistIds.includes(playlist.id)) { %>
                                    checked
                                <% } %>
                            >
                            <label class="form-check-label" for="<%= `playlist-${playlist.id}` %>"><%= playlist.name %></label>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-outline-secondary" type="reset">Reset</button>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        
    </form>
</turbo-frame>