<turbo-frame id="modal-content">
    <form
        action="<%= url %>"
        method="post"
        data-action="turbo:submit-end->page#onFormSubmitEnd"
    >
        
        <div class="modal-header">
            <div class="modal-title h5"><%= title %></div>
            <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
        </div>
    
        <div class="modal-body" style="max-height: 60vh;">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input
                    id="name"    
                    class="form-control"
                    type="text"
                    name="name"
                    value="<%= locals.playlist?.name %>"
                    required
                >
            </div>
            <hr>
            <div data-controller="collection">
                <span>Songs</span>
                <input
                    class="form-control form-control-sm d-inline ms-3"
                    type="text"
                    placeholder="filter..."
                    data-action="input->collection#filter"
                    style="max-width: 12rem;"
                >
                <ul class="overflow-auto my-2 px-1" style="height: 25vh;">
                    <% for (const song of songs) { %>
                        <li class="form-check" data-collection-target="item">
                            <input
                                id="<%= `song-${song.id}` %>"
                                class="form-check-input"
                                type="checkbox"
                                name="song-id"
                                value="<%= song.id %>"
                                <% if (locals.playlist?.songIds.includes(song.id)) { %>
                                    checked
                                <% } %>
                            >
                            <label class="form-check-label" for="<%= `song-${song.id}` %>"><%= `${song.artist} - ${song.name}` %></label>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-outline-secondary" type="reset">Reset</button>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        
    </form>
</turbo-frame>