<turbo-frame id="modal-content">
    
    <div class="modal-header">
        <div class="modal-title h5">Playlist player</div>
        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
    </div>

    <div class="modal-body">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td><%= playlist.name %></td>
                </tr>
                <tr>
                    <th scope="row">Number of songs</th>
                    <td><%= songs.length %></td>
                </tr>
            </tbody>
        </table>

        <div
            data-controller="playlist-player"
            data-playlist-player-song-index-value="-1"
            data-playlist-player-active-song-class="table-active"
        >
            <audio
                class="w-100 my-3"    
                src=""
                controls
                data-playlist-player-target="player"
                data-action="ended->playlist-player#onSongEnded"
            ></audio>

            <div data-controller="collection">
                <input
                    class="form-control form-control-sm d-inline w-auto me-3"
                    type="text"
                    placeholder="filter..."
                    size="30"
                    data-action="input->collection#filter"
                >
                <div class="form-check form-switch d-inline-block">
                    <input class="form-check-input" type="checkbox" id="playlist-player-autoplay" checked data-playlist-player-target="autoplay">
                    <label class="form-check-label" for="playlist-player-autoplay">Autoplay</label>
                </div>
                <hr>
                <div class="overflow-auto" style="height: 40em;">
                    <table class="table align-middle">
                        <tbody>
                            <% for (const [index, song] of songs.entries()) { %>
                                <tr
                                    data-collection-target="item"
                                    data-playlist-player-target="song"
                                    data-url="<%= `/song/download/${song.id}` %>"
                                >
                                    <td>
                                        <button
                                            class="btn btn-sm btn-outline-primary me-2"
                                            type="button"
                                            data-action="click->playlist-player#play"
                                            data-playlist-player-song-index-param="<%= index %>"
                                        >
                                            <i class="bi bi-play"></i>
                                        </button>
                                    </td>
                                    <td><%= song.artist %></td>
                                    <td><%= song.name %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</turbo-frame>